<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Name='MCollective' Version='2.5.0002' Id='*' UpgradeCode='D1B7E318-BED6-430C-9194-9427BEA29797' Language='1033' Codepage='1252' Manufacturer='new23d'>
		<Package Id='*' Compressed='yes' InstallerVersion='400' />
		<Media Id='1' Cabinet='mcollective' EmbedCab='yes' />

		<MajorUpgrade DowngradeErrorMessage='A later version of MCollective is already installed. Setup will now exit.' />

		<Property Id='PUPPETLABSINSTALLED'>
			<RegistrySearch Id='PuppetLabsRememberedInstallDir' Type='raw' Root='HKLM' Key='SOFTWARE\Wow6432Node\Puppet Labs\Puppet' Name='RememberedInstallDir' />
		</Property>

		<Condition Message='Puppet from Puppet Labs is a requirement.'>
			PUPPETLABSINSTALLED
		</Condition>

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder'>
				<Directory Id='ProgramFilesFolder_MCollective' Name='MCollective'>
					<Directory Id='Opt' Name='opt'>
						<Component Id='Daemon' Guid='59F55255-AE9C-4F2C-ACE9-89432AD065E0'>
							<File Source='..\opt\service.bat' KeyPath='yes' />
							<ServiceInstall DisplayName='MCollective' Name='mcollective' ErrorControl='normal' Start='auto' Type='ownProcess' />
							<ServiceControl Id='MCollective' Start='install' Stop='both' Remove='uninstall' Name='mcollective' Wait='yes' />
						</Component>
						<Component Id='FacterCEF' Guid='816A2919-0BFD-41C1-A231-89D53690981C'>
							<File Source='..\opt\facter_cef.rb' />
							<File Source='..\opt\Facter_CEF.xml' />
							<File Source='..\opt\facter_cef.bat' />
						</Component>
					</Directory>
				</Directory>
			</Directory>

			<Directory Id='CommonAppDataFolder'>
				<Directory Id='CommonAppDataFolder_MCollective' Name='MCollective'>
					<Directory Id='Etc' Name='etc'>
						<Component Id='EtcDirectory' Guid='F85D5C40-541E-44B2-99AE-A11CE906CA4C'>
							<CreateFolder />
						</Component>
					</Directory>
					<Directory Id='Var' Name='var'>
						<Directory Id='Log' Name='log'>
							<Component Id='LogDirectory' Guid='412AF20A-9266-40D8-8592-287C6C488FCA'>
								<CreateFolder />
							</Component>
						</Directory>
					</Directory>
				</Directory>
				<Directory Id='CommonAppDataFolder_PuppetLabs' Name='PuppetLabs'>
					<Directory Id='Facter' Name='facter'>
						<Directory Id='FactsD' Name='facts.d'>
							<Component Id='FacterCEFYamlFile' Guid='07E51C12-957D-428D-BC2C-B683A914B5BB'>
								<RemoveFile Id='FacterCEFYaml' Name='facter_cef.yaml' On="uninstall" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<CustomAction Id='FacterCEFScheduledTaskCreate' Directory='Opt' ExeCommand='schtasks /create /f /xml ..\opt\Facter_CEF.xml /tn Facter_CEF' Execute='deferred' Impersonate='no' />
		<CustomAction Id='FacterCEFScheduledTaskDelete' Directory='Log' ExeCommand='schtasks /delete /f /tn Facter_CEF' Execute='commit' Impersonate='no' />

		<InstallExecuteSequence>
			<Custom Action='FacterCEFScheduledTaskCreate' Before='InstallFinalize'>(NOT Installed)</Custom>

			<Custom Action='FacterCEFScheduledTaskDelete' Before='FacterCEFScheduledTaskCreate'>REMOVE="ALL"</Custom>  
		</InstallExecuteSequence>

		<Feature Id='Default'>
			<ComponentGroupRef Id='Tarball' />
			<ComponentRef Id='Daemon' />
			<ComponentRef Id='EtcDirectory' />
			<ComponentRef Id='LogDirectory' />
			<ComponentRef Id='FacterCEF' />
			<ComponentRef Id='FacterCEFYamlFile' />
		</Feature>
	</Product>
</Wix>
